*{
    font-family: 'spartan';
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header{
    width: 80%;
    /* margin: 0 165px 0 56px; */
    margin-inline: auto;
    
}

.header-card{
    display: flex;
    padding-top: 56px;
    position: relative;
}

.logo{
    margin-right: 66.84px;
}

.page-label{
    width: 89px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotated{
    display: flex;
    align-items: end;
    /* justify-content: start; */
    font-weight: 500;
    font-size: 15px;
    color: #C8CCD8;
    transform: rotate(90deg);
    letter-spacing: 0.938rem;
    margin-top: 4.35rem;
}
.btn-links{
    display: flex;
}

.btn{
    padding: 7px 20px; 
    border-color: transparent;
    color: #C8CCD8;
    background: #EEEFF4;
}

.btn>a{
    padding: 7px 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    color: #C8CCD8;
}

.btn>a:enabled,.btn>a:hover,.btn>a:active{
    color: #000000;
    border-bottom: 1px solid #1B1D23;
}

.btn>a:active{
    color: #000000;
    border-bottom: 1px solid #1B1D23;
}

.grey{
    background-color: #FFFFFF;
}

.hamburger-icon{
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 2;
    right: 0;
}

.close-icon{
    display: none;
    width: 24px;
    height: 24px;
}
/* -----------------------main-container styling ----------------------*/
.grid-container{
    width: 100%;
}

.container{
    margin-top: 56px;
    display: flex;
    flex-direction: row;
}

.image{
    width: 635px;
    height: 720px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%), url('/component/assets/about/desktop/image-hero.jpg');
}
.container-card{
    width:48%;
    background-color: #ffffff;
    height: 503px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 2;
}

.container-card > div{
    padding-top: 232px;
    margin-left: 182px;
}
.container-card > div > label{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: -2px;
}

.container-card > div > p{
    font-size: 15px;
    line-height: 25px;
    margin-top: 30px;
    width: 445px;
}

.container > label{
    font-size: 200px;
    font-weight: 700;
    line-height: 200px;
    letter-spacing: -5px;
    position: absolute;
    margin-bottom: -30px;
    left: 38.4rem;
    margin-top: 7.2rem;
    z-index: 10;
    color: #EEEFF4;

}

.line{
    height: 1px;
    width: 65px;
    background-color: #C8CCD8;
    margin-bottom: 99px;
}
.container-card-01{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}
.container-card-01 > div{
    width: 50%;
    padding-right: 124px;
}

.text-01{
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2px;
}

.paragraph>p{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 12px;
}


.heritage-image{
    width: 540px;
    height: 568px;
    background-image: url('/component/assets/about/desktop/image-heritage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-01{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 200px;
    width: 100%;
    height: 860px;
}

.image-container{
    position: absolute;
    right: 0;
    width: 730px;
    height: 860px;
    display: flex;
    flex-wrap: wrap;
    gap: 58px 26px;
}

.leader-image{
    height: 398px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.image-01{
    position: absolute;
    width: 350px;
    height: 320px;
    background: url('/component/assets/about/desktop/avatar-jake.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.image-02{
    position: absolute;
    width: 350px;
    height: 320px;
    background: url('/component/assets/about/desktop/avatar-thompson.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.image-03{
    position: absolute;
    width: 350px;
    height: 320px;
    background: url('/component/assets/about/desktop/avatar-jackson.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.image-04{
    position: absolute;
    width: 350px;
    height: 320px;
    background: url('/component/assets/about/desktop/avatar-maria.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-name{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.image-overlay:hover{
    opacity: 1;
}
.image-overlay> div{
    width: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-overlay> div>div>svg>path{
    fill: #ffffff;
}

.label-container{
    margin-top: 22rem;
    display: flex;
    flex-direction: column;
}

/* -----------------------footer styling ----------------------*/
.footer{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-card{
    display: flex;
    position: relative;
    width: 80%; 
    height:164px; 
    margin-top: 5rem;
    align-items: center;
    /* justify-content: center; */
}

.footer-logo{ 
    background-color: #1B1D23;
    width: 164px;
    height: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo > svg > path{
    fill: #FFFFFF;
} 


.footer-background {
    height: 100%;
    background-color:#EEEFF4;
    /* width: calc(80% - 15%); */
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-position{
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: 7%;
}


.portfolio-button {
    background: black;
    height: max-content;
    width: max-content;
    padding: 24px 31px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 1rem;
}

.portfolio-button a {
    text-decoration: none;
    color: white;
}

