body{
    font-family: 'spartan';
    font-style: normal;
    background: #FFFFFF;
}

body, .main{
    margin: 0;
    padding: 0;
}

 .line{
    display: flex;
    background-color: #C8CCD8;
    width: 0.063rem;
    height: 6.5rem;
    margin-left: 4rem;
    margin-top: -0.5rem;
}

.rotated{
    display: flex;
    font-weight: 500;
    font-size: 15px;
    color: #C8CCD8;
    transform: rotate(90deg);
    letter-spacing: 0.938rem;
    margin-top: 17rem;
    margin-left: -6.8rem;
}

.arch-logo{
    width: 96.16px;
    height: 40px;
    display: inline-flex;
    justify-content: space-around;
    margin-top: -3.5rem;
    margin-left: 165px;
}

nav a{
    width: 10rem;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-around;
    color: #7D828F;
    -ms-transform-origin-y: 0.5rem;
}

/* -----------------------main-container styling ----------------------*/
.grid-container{
    width: 1110px;
    height: 2330px;
    margin-top: 36px;
    margin-inline-start: 175px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.grid{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%);
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.gallery-01{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%),url(/component/assets/portfolio/desktop/image-seraph.jpg);
}
.gallery-01:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-02{
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-eebox.jpg);
}
.gallery-02:hover{
    cursor: pointer;
    opacity: 0.8;
}
.gallery-03{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-federal.jpg);
}
.gallery-03:hover{
    cursor: pointer;
    opacity: 0.8;
}
.gallery-04{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-del-sol.jpg);
}
.gallery-04:hover{
    cursor: pointer;
    opacity: 0.8;
}
.gallery-05{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-prototype.jpg);
}
.gallery-05:hover{
    cursor: pointer;
    opacity: 0.8;
}
.gallery-06{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-228b.jpg);
}
.gallery-06:hover{
    cursor: pointer;
    opacity: 0.8;
}
.gallery-07{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-edelweiss.jpg);
}
.gallery-07:hover{
    cursor: pointer;
    opacity: 0.8;
}
.gallery-08{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-netcry.jpg);
}
.gallery-08:hover{
    cursor: pointer;
    opacity: 0.8;
}
.gallery-09{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-hypers.jpg);
}
.gallery-09:hover{
    cursor: pointer;
    opacity: 0.8;
}
.gallery-10{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-sxiv.jpg);
}
.gallery-10:hover{
    cursor: pointer;
    opacity: 0.8;
}
.gallery-11{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-trinity.jpg);
}
.gallery-11:hover{
    cursor: pointer;
    opacity: 0.8;
}
.gallery-12{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-paramour.jpg);
}
.gallery-12:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-header{
    font-family: Spartan;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #FFFFFF;
    ;
}

.gallery-label{
    font-family: Spartan;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.container-path{
    margin: 0 40px;
    margin-top: 466px;
}
/* -----------------------footer styling ----------------------*/
.footer-container{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 5rem;
    margin-left: 11rem;
    background-color:#EEEFF4;
    box-sizing: border-box;
    width: 61.5rem; 
    height:164px; 
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arch-logo-footer {
    /* position: absolute; */
    width: 164px;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1D23;
}

.arch-logo-footer > svg{
    fill: #FFFFFF;
} 

.arrow-container{
    display: flex;
    margin-top: 3rem;
    background-color: black;
    width: 15.5rem;
    height: 3.5rem;
}

.arrow-container a{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    margin: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.icon-arrow{
    margin-left: 1.5rem;
    width: 24px;
}

.tab-left{
    position: absolute;
    left: 53.8rem;
    top: 0.5rem;
}
