*{
    font-family: 'spartan';
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header{
    width: 80%;
    /* margin: 0 165px 0 56px; */
    margin-inline: auto; 
}

.header-card{
    display: flex;
    padding-top: 56px;
    position: relative;
}

.logo{
    margin-right: 66.84px;
}

.page-label{
    width: 89px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotated{
    display: flex;
    align-items: end;
    /* justify-content: start; */
    font-weight: 500;
    font-size: 15px;
    color: #C8CCD8;
    transform: rotate(90deg);
    letter-spacing: 0.938rem;
    margin-top: 6rem;
}
/* .btn-links{
    display: flex;
} */

.btn{
    padding: 7px 20px; 
    border-color: transparent;
    color: #C8CCD8;
    background: #EEEFF4;
}

.btn>a{
    padding: 7px 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    color: #C8CCD8;
}

.btn>a:enabled,.btn>a:hover,.btn>a:active{
    color: #000000;
    /* border-bottom: 1px solid #1B1D23; */
}

.btn>a:active{
    color: #000000;
}

.grey{
    background-color: #FFFFFF;
}

.item>a{
    position: relative;
    color: #1B1D23;
    text-decoration: none;
    pointer-events: none;
}

.item>a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 1px;
    background-color: #1B1D23;
    width: 24px;
}

.hamburger-icon{
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 2;
    right: 0;
}

.close-icon{
    display: none;
    width: 24px;
    height: 24px;
}
/* -----------------------main-container styling ----------------------*/
.grid-container{
    /* width: max-content; */
    height: 2330px;
    /* height: 100%; */
    width: 100%;
    margin-top: 4rem;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.grid{
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%); */
    /* background-size: cover; */
    height: 100%;
}

.gallery-01{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%),url('/component/assets/portfolio/desktop/image-seraph.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-01:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-02{
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-eebox.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-02:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-03{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/desktop/image-federal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-03:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-04{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/desktop/image-del-sol.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-04:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-05{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/desktop/image-prototype.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-05:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-06{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/desktop/image-228b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-06:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-07{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/desktop/image-edelweiss.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-07:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-08{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/desktop/image-netcry.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-08:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-09{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/desktop/image-hypers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-09:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-10{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/desktop/image-sxiv.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-10:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-11{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/desktop/image-trinity.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-11:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-12{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/desktop/image-paramour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-12:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-header{
    font-family: Spartan;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #FFFFFF;
    ;
}

.gallery-label{
    font-family: Spartan;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.container-path{
    margin: 0 40px;
    margin-top: 446px;
}
/* -----------------------footer styling ----------------------*/
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.footer-card{
    display: flex;
    position: relative;
    width: 80%; 
    height:164px; 
    margin-top: 5rem;
    align-items: center;
    /* justify-content: center; */
}

.footer-logo{ 
    background-color: #1B1D23;
    width: 164px;
    height: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo > svg > path{
    fill: #FFFFFF;
} 


.footer-background {
    height: 100%;
    background-color:#EEEFF4;
    /* width: calc(80% - 15%); */
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-position{
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: 7%;
}


.portfolio-button {
    background: black;
    height: max-content;
    width: max-content;
    padding: 24px 31px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 1rem;
}

.portfolio-button a {
    text-decoration: none;
    color: white;
}


/* ------------tablet view-------------- */
@media only screen and (max-width: 768px){
    /* -----------------------main-container styling ----------------------*/
    .header{
        width: 100%;
        margin: 0 33px 0 auto;
    }

    .header-card{
        display: flex;
        padding-top: 56px;
        padding: auto;
    }

    .logo {
        margin-right: 34px;
    }

    .page-label{
        position: relative;
    }
    .btn {
        padding: 7px 10px;
    }

    .grid-container{
        /* margin: 0 auto; */
        margin-top: 3.5rem;
        max-width: 35.813rem;
        /* min-width: 100%; */
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
         background-repeat: no-repeat;
    }

    .grid{
        width: 100%;
        max-height: 15rem;
        min-height: auto;
    }

    .gallery-01{
        background:  linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-seraph.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .gallery-02{
        background:  linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-eebox.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-03{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-federal.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-04{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-del-sol.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-05{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-prototype.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-06{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-228b.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    .gallery-07{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-edelweiss.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-08{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-netcry.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .gallery-09{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-hypers.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-10{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-sxiv.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-11{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-trinity.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-12{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/tablet/image-paramour.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container-path{
        margin: 0 40px;
        margin-top: 146px;
    }
    
    /*---------------footer-------------------*/
    .footer{
        width: 100%;
        height: 0;
        display:block;
        
    }
    .footer-card{
        display: flex;
        position: relative;
        width: 100%; 
        height:164px; 
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 480px){
    /* -----------------------main-container styling ----------------------*/
    .header{
        width: 100%;
        margin: 0;
    }

    .page-label{
        display:none;
    }

    .header-card{
        justify-content: space-between;
        align-items: center;
        /* width: 90%; */
        padding-left: 32px;
        padding-top: 32px;
        padding-bottom: 20px;
    }


    .btn-links{ 
        position: absolute;
        background: #EEEFF4;
        /* border: 1px solid #EEEFF4; */
        top: 6.05rem;
        right: 0;
        height: 235px;
        width: 85%;
        flex-direction: column;
        opacity: 0;
    }

    .btn-links.active, .close-icon.active, .hamburger-icon.active{
        opacity: 1;
    }

    .item>a::after{
        background-color: #EEEFF4;
    }

    .close-icon{
        opacity: 0;
    }

    .btn{
        padding: 7px 20px; 
        border-color: transparent;
        margin: 18px 48px;
    }
    
    .btn>a{
        padding: 0 0;
        font-size: 18px;
        color: #1B1D23;
        ;
    }
    
    .btn>a:enabled,.btn>a:hover,.btn>a:active{
        color: #C8CCD8;
        border: none;
    }

    .hamburger-icon{
        display: inline;
        margin-right: 2rem;
    }

    .close-icon{
        display: inline;
        margin-right: 2rem;
    }
    
    .hamburger-icon.inactive, .close-icon.inactive{
        display: none;
    }    
    .grid-container{
        /* width: 311px; */
        width: max-content;
        height: auto;
        margin: 0 auto;
        margin-top: 5.438rem;
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .gallery-01{
        height: 240px;
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        background:  linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/mobile/image-seraph.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .grey{
        background-color: #EEEFF4;
    }

    .gallery-02{
        height: 240px;
        background:  linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/mobile/image-eebox.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-03{
        height: 240px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/mobile/image-federal.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-04{
        height: 240px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/mobile/image-del-sol.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-05{
        height: 240px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/mobile/image-prototype.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-06{
        height: 240px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/mobile/image-228b.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    .gallery-07{
        height: 240px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/mobile/image-edelweiss.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-08{
        height: 240px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/mobile/image-netcry.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .gallery-09{
        height: 240px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/mobile/image-hypers.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-10{
        height: 240px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/mobile/image-sxiv.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-11{
        height: 240px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/mobile/image-trinity.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .gallery-12{
        height: 240px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.499044) 100%), url('/component/assets/portfolio/mobile/image-paramour.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container-path{
        margin: 0 40px;
        margin-top: 146px;
    }
    
    /*---------------footer-------------------*/
    .footer{
        width: 100%;
        height: 28rem;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
    .footer-card{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%; 
        height: max-content;
        /* height: 23.938rem;  */
        margin-top: 10.5rem;
        /* align-items: center; */
        background-color:#EEEFF4;
        /* justify-content: center; */
    }
    
    .footer-logo{ 
        background-color: #1B1D23;
        width: 164px;
        height: 164px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -5rem
    }
    
    .footer-logo > svg > path{
        fill: #FFFFFF;
    } 
    
    
    .footer-background {
        height: 100%;
        background-color:#EEEFF4;
        margin-top: 6.8rem;
        width: 70%;
        display: flex;
        align-items: center;
    }
    
    .btn{
        text-align: center;
        padding: 7px 16px; 
        border-color: transparent;
        color: #C8CCD8;
        background: #EEEFF4;
    }
    
    .nav-position{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
        margin-left: 0;
        margin: 0 auto;
    }
    
    
    .portfolio-button {
        height: max-content;
        width: max-content;
        padding: 24px 31px;
        position: relative;
        right: 0;
        display: flex;
        margin-top: 2.2rem;
        /* gap: 1rem; */
    }
    
    .portfolio-button a {
        text-decoration: none;
        color: white;
    }
    
}