*{
    font-family: 'spartan';
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
}

.header{
    width: 100%;
    margin: 0 165px 0 56px;
    
}

.header-card{
    display: flex;
    padding-top: 56px;
}

.logo{
    margin-right: 66.84px;
}

.page-label{
    width: 89px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotated{
    display: flex;
    align-items: end;
    /* justify-content: start; */
    font-weight: 500;
    font-size: 15px;
    color: #C8CCD8;
    transform: rotate(90deg);
    letter-spacing: 0.938rem;
    margin-top: 4.35rem;
}

nav{
    padding: 7px 20px; 
    
}

nav>a{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    color: #C8CCD8;
}

nav>a:hover{
    color: #000000;
}

nav>a:active{
    color: #000000;
}

/* -----------------------main-container styling ----------------------*/
.grid-container{
    width: 1110px;
    height: 2330px;
    margin-top: 36px;
    margin-left: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background: orangered;
}

.grid{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%);
}

.gallery-01{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%),url(/component/assets/portfolio/desktop/image-seraph.jpg);
}

.gallery-01:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-02{
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-eebox.jpg);
}

.gallery-02:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-03{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-federal.jpg);
}

.gallery-03:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-04{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-del-sol.jpg);
}

.gallery-04:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-05{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-prototype.jpg);
}

.gallery-05:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-06{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-228b.jpg);
}

.gallery-06:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-07{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-edelweiss.jpg);
}

.gallery-07:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-08{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-netcry.jpg);
}

.gallery-08:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-09{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-hypers.jpg);
}

.gallery-09:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-10{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-sxiv.jpg);
}

.gallery-10:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-11{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-trinity.jpg);
}

.gallery-11:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-12{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/desktop/image-paramour.jpg);
}

.gallery-12:hover{
    cursor: pointer;
    opacity: 0.8;
}

.gallery-header{
    font-family: Spartan;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #FFFFFF;
    ;
}

.gallery-label{
    font-family: Spartan;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.container-path{
    margin: 0 40px;
    margin-top: 466px;
}
/* -----------------------footer styling ----------------------*/
.footer{
    display: flex;
    position: relative;
    width: 61.5rem; 
    height:164px; 
    margin-top: 5rem;
    margin-left: 20px;
    background-color:#EEEFF4;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo{ 
    background-color: #1B1D23;
    width: 164px;
    height: 164px;
}
.nav-position{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 165px 0 56px;
}
.footer-logo > svg > path{
    fill: #FFFFFF;
} 

.arrow-container{
    display: flex;
    margin-top: 3rem;
    background-color: black;
    width: 15.5rem;
    height: 3.5rem;
}

.arrow-container a{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    margin: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.icon-arrow{
    margin-left: 1.5rem;
    width: 24px;
}

.portfolio-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: black;
    width: 15.5rem;
    height: 3.5rem;
}

.portfolio-button > a{
    color: #ffffff;
    text-decoration: none;
}

.tab-left{
    position: absolute;
    left: 53.8rem;
    top: 0.5rem;
}

/* ------------tablet view-------------- */
@media (max-width: 768px) {
    /* -----------------------main-container styling ----------------------*/
    .grid-container{
        width: 573px;
        height: auto;
        /* margin-top: 36px;
        margin-left: 20px; */
        display: flex;
        flex-direction: column;
        /* gap: 30px; */
         background-color: orange;
         background-repeat: no-repeat;
        height: 240px;
    }
        / 

    .gallery-01{
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        background:  linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-seraph.jpg);
    }
    .gallery-02{
        background:  linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-eebox.jpg);
    }
    
    .gallery-03{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-federal.jpg);
    }
    
    .gallery-04{
        background-size: cover;
        background-repeat: no-repeat;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-del-sol.jpg);
    }
    
    .gallery-05{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-prototype.jpg);
    }
    
    .gallery-06{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-228b.jpg);
    }
    
    
    .gallery-07{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-edelweiss.jpg);
    }
    
    .gallery-08{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-netcry.jpg);
    }

    .gallery-09{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-hypers.jpg);
    }
    
    .gallery-10{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-sxiv.jpg);
    }
    
    .gallery-11{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-trinity.jpg);
    }
    
    .gallery-12{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.000) 0%,rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url(/component/assets/portfolio/tablet/image-paramour.jpg);
    }
    

    /*---------------footer-------------------*/
    .footer{
        display: flex;
        position: relative;
        width: 620px; 
        height:164px; 
        margin-top: 0;
        margin-left: 0;
        background-color:#EEEFF4;
    }

    .nav-position{
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 0 0 0 0;
    }

    .tab-left{
        position: absolute;
        left: 33.8rem;
        top: 0.5rem;
    }
}