<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="stylesheet" href="style.css">
  <title>Frontend Mentor | Arch Studio Website Challenge</title>
</head>
<body>
  <main>
    <section>
        <div class="line">
          <svg width="1" height="103" viewBox="0 0 1 103" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="-1" width="1" height="104" fill="#C8CCD8"/>
            </svg> 
            <p class="rotated">HOME</p>           
        </div>
        <div class="arch-logo">
          <img src="./assets/logo.svg" alt="">
          <nav>
            <ul>
              <a href="#">Portfolio</a>
              <a href="#">About Us</a>
              <a href="#">Contact</a>
            </ul>
          
          </nav>
        </div>
    </section>

    <section class="wrapper-container">
      <picture>

      </picture>
     <img class="hero-paramour" src="./assets/home/desktop/image-hero-paramour.jpg" alt="">
     <!-- <img class="hero-seraph" src="./assets/home/desktop/image-hero-seraph.jpg" alt="">
     <img class="hero-federal" src="./assets/home/desktop/image-hero-federal.jpg" alt="">
     <img class="hero-trinity" src="./assets/home/desktop/image-hero-trinity.jpg" alt=""> -->
     <div class="wrapper-hero">
      <p class="wrapper-paramour">Project Paramour</p>
      <h2 class="wrapper-london">Project made for an art museum near Southwest London. Project Paramour is 
        a statement of bold, modern architecture.</h2>
        <div class="arrow-container">
            <a href="">See Our Portfolio<img class="icon-arrow" src="./assets/icons/icon-arrow.svg" alt=""></a>
        </div>
        <ul class="slide-show">
          <li><button class="slider">01</button></li>
          <li><button class="slider">02</button></li>
          <li><button class="slider">03</button></li>
          <li><button class="slider">04</button></li>
        </ul>
    </div>
    </section>
    <section class="wrapper-container-welcome">
        <div>
          <p></p>
        </div>
    </section>



  </main>
<script src=""></script>
</body>
</html>