@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');

*, ::before ::after{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    scroll-behavior: smooth;
}
body{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'spartan';
    font-style: normal;
    background: #FFFFFF;
    height: 2983px;

}

main{
    margin: 0;
    padding: 0;
}

.line{
    display: flex;
    flex-direction: column;
    background-color: #C8CCD8;
    width: 0.063rem;
    height: 6.5rem;
    margin-left: 4rem;
    margin-top: -0.5rem;
}

.rotated{
    display: flex;
    font-weight: 500;
    font-size: 15px;
    color: #C8CCD8;
    transform: rotate(90deg);
    letter-spacing: 0.938rem;
    margin-top: 14rem;
    margin-left: -6.5rem;
    height: 3rem;
    width: 13rem;
}

.arch-logo{
    display: inline-flex;
    justify-content: space-around;
    margin-top: -3.5rem;
    margin-left: 11rem;
}

nav a{
    width: 10rem;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-around;
    color: #7D828F;
    -ms-transform-origin-y: 0.5rem;
}

.arrow-container{
    display: flex;
    margin-top: 3rem;
    background-color: black;
    width: 15.5rem;
    height: 3.5rem;
}

.arrow-container a{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    margin: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.icon-arrow{
    margin-left: 1.5rem;
    width: 24px;
}

.icon-arrow path{
    fill: #FFFFFF;
}
.desktop img {
    position: absolute;
width: 635px;
height:720 px;
left: 165px;
top: 152px;
}

.footer-container{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 2860px;
    margin-left: 8rem;
    background-color:#EEEFF4;
    box-sizing: border-box;
    width: 984px; 
    height:164px; 
    left: 165px;
}
.about {
    position: absolute;
width: 652px;
height: 200px;
left: -120px;
top: -125px;
color: #EEEFF4;
font-size: 200px;
font-weight: 700;
line-height: 200px;
text-align: right;
z-index: 1;

}
.textcontainer {
    position: absolute;
width: 793px;
height: 503px;
left: 647px;
top: 369px;
background:white;
z-index: 1;
position: absolute;
}
.team p {
    position: absolute;
height: 138px;
font-weight: 700;
font-size: 56px;
line-height: 56px;
letter-spacing: -2px;
left: 260px;
top:110px;
color: #1B1D23;
}

.professionals span {
    position: absolute;

    font-weight: 100;
    font-size: 19px;
    line-height: 25px;
    width: 446px;
    height:343px ;
    color: #60636D;
    left: 200px;
    top: 300px;   
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arch-logo-footer {
    /* position: absolute; */
    width: 164px;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1D23;
}

.arch-logo-footer > svg{
    fill: #FFFFFF;
}

.tab-left{
    position: absolute;
    left: 54rem;
    top: 0.5rem;
}
/* .heritage {
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: blue;
  width:750px;
  height: 568px;
  top:1000px;
  left: 647px;
} */
.heritagetext {
    position: absolute;
    width: 446px;
    height: 568px;
    left: 181px;
    top: 1028px;
    background-color: blue;
}
.subheritagetext {
    position: absolute;
    font-family: 'Spartan';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 25px;
width: 445px;
height: 300px;
top: 260px;
/* or 167% */


color: #60636D;
}
.heritagetext strong {
    position: absolute;
font-family: 'Spartan';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 56px;
width: 446px;
height: 136px;
top:60px;
letter-spacing: -2px;
color: #1B1D23;

}
.heritageimage {
    position: absolute;
    width: 540px;
    height: 568px;
    left: 800px;
    top: 1072px;  
}
.leadersimage {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    width: 730px;
    height: 860px;
    left: 570px;
    top: 1840px;
    background-color: blue;
    
 }
 .leaders label {
    position: absolute;
width: 446px;
height: 112px;
left: 165px;
top: 1840px;
font-weight: 700;
font-size: 56px;
line-height: 56px;
letter-spacing: -2px;
color: #1B1D23;
 }
 .imagetext1 {
    position: absolute;
    width: 345px;
    height: 54px;
    left: 5px;
    top: 330px;
    background-color: green;
 }
 .image1 p {
    position: absolute;
    height: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #1B1D23;
    top:-5px;
    
 }
 .image1 span {
    position: absolute;
height: 25px;
font-weight: 500;
font-size: 15px;
line-height: 25px;
color: #1B1D23;
top: 35px;
 }
 .imagetext2 {
    position: absolute;
width: 350px;
height: 54px;
left: px;
top: 330px;
background-color: yellow;
 }
 .image2 p {

    position: absolute;
    height: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #1B1D23;
    top:-10px;
 }
.image2 span  {

    position: absolute;
height: 25px;
font-weight: 500;
font-size: 15px;
line-height: 25px;
color: #1B1D23;
opacity: 0.75;
top:30px;
}
.imagetext3 {
position: absolute;
width: 300px;
height: 40px;
left: 10px;
top: 760px;
background-color: white;

  
}
.image3 p {
    position: absolute;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #1B1D23;
top:-22px;
}
.image3 span { 
    position: absolute; 
font-weight: 500;
font-size: 15px;
line-height: 25px;
color: #1B1D23;
top:18px;
}
.imagetext4 {
 
    position: absolute;
    width: 350px;
    height: 54px;
    left: 364px;
    top: 750px;
    background-color: aqua;
    
}
.image4 p {
    position:absolute;
    

font-weight: 700;
font-size: 18px;
line-height: 25px;
line-height: 25px;
color: #1B1D23;
top:-8px;

}
.image4 span {
    position:absolute ;
font-weight: 500;
font-size: 15px;
line-height: 25px;
color: #1B1D23;
top: 30px;
}



  


 


